table {
    margin-bottom: 20px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.right {
    text-align: right;
}

.date-picker {
    margin: 200px auto;
    width: 900px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.date-picker input {
    width: 400px;
    height: 40px;
}

.result {
    margin-top: 40px; 
}